

.input, .pluss, .minus, .multiply, .dot, #null, #clear,.equal:active,.equal:hover, .equal, .numbers div:active, .numbers div:hover, .numbers div, .operators div:active, .operators div:hover, .operators div, #prosent, #plussminus{
    display: none;
}



.calculator {
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

.input {
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
    width: 230;
    color: white;
}

.pluss{
   position: relative;
   top: 201;
   left: 192;
}    

.minus{
   position: relative;
   top: 134;
   left: 128;
}

.multiply{
   position: relative;
   top: 67;
   left: 64;
}

.dot{
   position: relative;

}

#null{
   height: 47px;
   width: 111px;
   border-radius: 50px;
   text-align: inherit;
}

#plussminus{
   position: relative; 
   left: -192;
   background-color: rgb(138, 138, 138);
}

#prosent{
   position: relative;
   left: -192;
   background-color: rgb(138, 138, 138);
   }

.operators div {
    display: inline-block;
    border-radius: 100%;
    width: 47px;
    height: 47px;
    text-align: center;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #ff8800;
    line-height: 1.6;
   color: white;
}



.operators div:hover {
    filter: brightness(120%);

     
}

.operators div:active {
    display: inline-block;
}

.numbers div {
    display: inline-block;
    border-radius: 100%;
    width: 47px;
    height: 47px;
    text-align: center;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #464343;
    line-height: 1.6;
    color: white;
 

}


.numbers div:hover {
    background-color: #797979;
}

.numbers div:active {
    font-weight: bold;
}

.equal {
    position: relative;
    top:  -67;
    left: 192;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    text-align: center;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #fff;
    background-color: #ff8800;
    transition: all .2s ease-in-out;
    line-height: 1.6;
}
.equal:hover {
    filter: brightness(120%);

}

.equal:active {
    font-weight: bold;
}


#clear{
    position: relative;
    top: -268;
    left: -192;
    background-color: rgb(138, 138, 138);
}