body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    position: relative;
    background: rgb(32, 32, 32);
    border-radius: 30px;
    height: 560px;
    width: 295px;
    margin: 0 auto;
}

.sensores {
    position: absolute;
    background: rgb(32, 32, 32);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 32;
    width: 175;
    margin: 0 auto;
    right: 0;
    left: 0;
}

#screen-on,
#password-screen,
#passcode-number-1,
#passcode-number-2,
#passcode-number-3,
#passcode-number-4,
#passcode-number-5,
#passcode-number-6,
#passcode-number-7,
#passcode-number-8,
#passcode-number-9,
#passcode-number-0,
#white-bar,
#login,
#clock,
#miniclock,
#date {
    display: none;
}

#screen {
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 30px;
    height: 540px;
    width: 275px;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 10;
}

#screen-on {
    position: absolute;
    border-radius: 30px;
    height: 540px;
    width: 275px;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 10;
    background-image: url(/img/pexels-photo-2486168.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#password-screen {
    position: absolute;
    height: 540px;
    width: 275px;
    background-color: rgb(29, 27, 27);
    right: 0;
    left: 0;
    top: 10;
    margin: 0 auto;
    opacity: 0.8;
    border-radius: 30px;
}

#login {
    position: absolute;
    height: 540px;
    width: 275px;
    right: 0;
    left: 0;
    top: 10;
    margin: 0 auto;
    border-radius: 30px;
    background-image: url(/img/271091.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#off-on-button {
    width: 3px;
    height: 60px;
    background: rgb(32, 32, 32);
    position: absolute;
    right: 0;
    margin: 0 auto;
    top: 125;
    border-radius: 20px;
    left: 294;
}

.sound-up {
    width: 3px;
    height: 35px;
    background: rgb(32, 32, 32);
    position: absolute;
    right: 0;
    margin: 0 auto;
    top: 115;
    border-radius: 20px;
    left: -295;
}

.sound-down {
    width: 3px;
    height: 35px;
    background: rgb(32, 32, 32);
    position: absolute;
    right: 0;
    margin: 0 auto;
    top: 160;
    border-radius: 20px;
    left: -295;
}


/* .passcode-numbers{
    width: 50px;
    font-size: 40px;
    line-height: 1.4;
    height: 50px;
    background: #494545;
    position: absolute; 
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
} */

#passcode-number-1 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 210;
    left: 50;
}

#passcode-number-2 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 210;
    left: 0;
    right: 0;
}

#passcode-number-3 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 210;
    right: 50;
}

#passcode-number-4 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 265;
    left: 50;
}

#passcode-number-5 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 265;
    left: 0;
    right: 0;
}

#passcode-number-6 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 265;
    right: 50;
}

#passcode-number-7 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 320;
    left: 50;
}

#passcode-number-8 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 320;
    left: 0;
    right: 0;
}

#passcode-number-9 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 320;
    right: 50;
}

#passcode-number-0 {
    width: 47px;
    font-size: 30px;
    line-height: 1.4;
    height: 47px;
    background: #494545;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #dcdcdc;
    top: 375;
    left: 0;
    right: 0;
}

#white-bar {
    height: 5px;
    width: 150;
    background: white;
    position: absolute;
    bottom: 20;
    border-radius: 30px;
    left: 72.5;
}

#clock {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding: 40px 0 40px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#date {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 40px 0 40px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    font-family: 'Times New Roman', Times, serif;
}

#miniclock {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding: 40px 0 40px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    font-family: 'Times New Roman', Times, serif;
}